.home-page{
  background-color: beige;
  padding: 20px;
}

.homeHeading{
  padding: 20px; 
  background-color: rgb(0, 42, 255);
  box-shadow: -7px 10px 15px black;
  width: fit-content;
  border-radius: 20px;
  margin-left: 3%;
}

.homeTableColumnHeadings{
  padding: 12px;
}

.homeTable{
  width: 20%;
  background-color: rgb(85, 78, 78);
  margin: 6% auto 0 auto;
  border-radius: 10px;
}

.homeFilter{
  margin-top: 4%;
  margin-bottom: 2%;
}

.homeData{
  display: flex;
  justify-content: space-around;
}

.homeCharts{
  padding: 20px;
  width: 50%;
  /* box-shadow: 0 -5px 10px rgba(0,0,0,0.1); */
}